.career {
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    width:100%;

}

.resumeCompanyName {
    margin-bottom: -.5rem;
}

.resumeJobLocation {
    margin-top: -.5rem;
}

.job {
    text-align:left;
    background-color:lightblue;
    padding:1rem;
    border-radius: 25px;
    margin:1rem;
    box-sizing: border-box;

}

.jobInfo {
    display:flex;
    justify-content:space-between;
}

.jobTraits {
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    gap:3rem;
}

.resumeJobRoles {
    display:flex;
    gap: 1.5rem;
}

.resumeJobDesc {
    flex: 0 0 40%;
}

.resumeJobHighlights {
    flex: 2 1 60%;
}

.resumeSkills ul {
    text-align:left;
}

@media only screen and (max-width: 1000px) {
    .jobTraits, .jobInfo {
        flex-direction:column;
    }
  }



@media only screen and (min-width: 1000px) {
    .jobSummaries {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
  }

