header {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

.title-link {
    text-decoration: none;
}

.title {
    font-size: 2.5rem;
}


.navigation {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    box-sizing: border-box;
}

.link {
    padding: 1rem 2rem;
    text-decoration: none;
}

.link:hover {
    background-color: blue;
    color:white;
}

@media only screen and (min-width: 900px) {
    header {
      flex-direction:row;
    }

    .navigation {
        flex-direction:row;
    }
  }