.project-wrapper {
    margin:0 auto;
    scrollbar-gutter: stable;
}

.project h2 {
    padding-top:.5rem;
}

.project-card {
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding:1rem 0;
    justify-content:space-between;
    margin:2rem 0;
    background-color:lightblue;
    border-radius:50px;
    box-sizing: border-box;
}

.project-card img {
    width:75%;
}

.projDesc {
    text-align:left;
}

.projLinks ul {
    list-style-type: none;
    padding-inline-start:0;
}

.projLinks a {
    text-decoration:none;
}

.projLinks li {
    padding: 1rem 0;
}