.project h2 {
    padding-top:.5rem;
}

.project-card {
    display:grid;
    grid-template-columns: 40% 40% 20%;
    padding:1rem;
    justify-content:space-between;
    margin:2rem 0;
    background-color:lightblue;
    border-radius:50px;
}

.project-card img {
    width:75%;
}

.projLinks ul {
    list-style-type: none;
    padding-inline-start:0;
}

.projLinks a {
    text-decoration:none;
}

.projLinks li {
    padding: 1rem 0;
}